@model IEnumerable<localXchange.Models.productModel>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Your Product List";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("New Product", "createProductStepOne")
</p>
<p>
    <span class="text-danger">@ViewBag.StatusMessage</span>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qtyAvail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qtyRemain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.productName, "Details", new { id = item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qtyAvail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qtyRemain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.ActionLink("Add Pictures", "addPictures", new { productID = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) | 
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
