@model localXchange.Models.ProductModel

<div>
    <h4>ProductModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sellerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sellerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qtyAvail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtyAvail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qtyRemain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtyRemain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zipcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unitSoldBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unitSoldBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qtySoldBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtySoldBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
