@model localXchange.Models.changeUnViewModel

@{ 
    ViewBag.Title = "Change Username";
}

@using (Html.BeginForm("_changeUnPartial", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.CurUsername)

    <div class="formGroup">
        @Html.LabelFor(m => m.CurUsername, new { @class = "control-label" })<span class="control-label">:</span>
        <div class="formItem control-label username">
            @Html.DisplayTextFor(m => m.CurUsername)
        </div>
    </div>

    <div class="formGroup">
        <div class="formItem">
            @Html.TextBoxFor(m => m.NewUsername, new { @class = "form-control", @placeholder = "New Username * Required" })
            @Html.ValidationMessageFor(m => m.NewUsername, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="formGroup">
        <div class="formItem">
            @Html.TextBoxFor(m => m.NewUsernameConfirm, new { @class = "form-control" , @placeholder = "Confirm new Username * Required" })
            @Html.ValidationMessageFor(m => m.NewUsernameConfirm, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="formGroup">
        <div class="formItem">
            @Html.PasswordFor(m => m.password, new { @class = "form-control", @placeholder = "Login Password * Required" })
            @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="formGroup">
        <div class="col-md-offset-2 formItem">
            <input type="submit" value="Change Username" class="btn btn-default" />
        </div>
    </div>
}